body{
    display: flexbox;
    flex: auto;
    background-color: #f7f4f4;
}
#fieldset{
    background-color: #f76aa0;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 100px;
    border-color: #f7f4f4;
    border-radius:16px;
    padding-left: 25px;
    padding-top: 25px;
}
h1{
    color:#132b96;
    font-weight:900;
    text-align:center;
}
#fullname{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 350px;
}
#email{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 350px;
}
#phonenumber{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 350px;
}
#gender{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 372px;
}
#password{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 350px;
}

button{
    background-color:#132b96;
    color: aliceblue;
    width:375px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    box-shadow:0 3px 4px 0#414141;
}
button:hover{
    background-color:#050e3a;
    
}